body {
  display: flex;
  flex-direction: column;
  background: darkblue;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

/* Flexbox layout for main and body */
article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

header p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin: 5px 0 0 0;
}